---
---

@import "minima";

//show div boxes when testing
// div {
//   border-style: solid;
//   border-color: black;
// }

//Adds space inside home page project links
div.snippet h1, div.snippet h2, div.snippet h3, div.snippet p{
  padding-left: 10px;
}

//Adds invisible border to home page project links to minimize shaking when you hover over them
div.snippet{
  padding: 1px;
  border-color: #e8e8e8;
  border-style: hidden;
  border-radius: 10px;
}

//Sets normal color for home page project links
div.snippet h1, div.snippet p{
  color: black;
}

//Removes underline for links
a:hover{
  text-decoration: none;
}

//Creates rounded box for home page project links
div.snippet:not(.music):hover{
  text-decoration: none;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  border-style: hidden;
  border-radius: 10px;
  outline-style: solid;
  outline-color: #e8e8e8;
  outline-width: 2px;
}

//music snippets
div.music{
  padding: 5%;
}

div.music h1{
  margin-bottom: 0%;
}

//music boxes for debugging
// div.music p,div.music h1, div.music h3, div.music h2{
//   border-style:solid;
//   border-color:#000000;
// }

//no hover for music snippets
div.music:hover{
  text-decoration: none;
  border-style: hidden;
  border-radius: 10px;
  outline-style: solid;
  outline-color: #e8e8e8;
  outline-width: 2px;
}

//Makes a solid horizontal line with same color as header
hr {
  padding: 0px;
  height:1px;
  border-width:0;
  color:#e8e8e8;
  background-color:#e8e8e8;
  width:95%;
  margin: auto;
}

// Removes indent from wrapper for content in a post/page
div.post-content div.wrapper{
  padding: 0px !important;
}

// Creates a rounded rectangle frame around image
div.image-background {
  background-color: #e8e8e8;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius:30px/30px;
}

hr.intro-line{
  color:#000000;
  background-color:#000000;
}

//Center optional caption
div.caption p {
  text-align: center;
  padding-top:1em;
}

// Seperates div from surrounding elements on the top and bottom
div.separate {
  margin-top: 25px;
  margin-bottom: 25px;
}

//Sets default image size and centering
.project-img {
  max-width: 80%;
  padding-left: 10%;
}

//Sets max size and centers image for chess-trainer2.png
#chess-trainer2-img {
  max-width: 80%;
  padding-left: 10%;
}

//Sets max size and centers image for ninjoreo-main-img
#ninjoreo-main-img {
  max-width: 50%;
  padding-left: 25%;
}

//Sets max size and centers image for ninjoreo-all-img
#ninjoreo-all-img {
  max-width: 70%;
  padding-left: 15%;
}

//Sets max size and centers image for ninjoreo-all-img
#init-tracker-img {
  max-width: 70%;
  padding-left: 15%;
}

#random-word-generator-img {
  max-width: 50%;
  padding-left: 25%;
}

#gravity-simulator-img {
  max-width: 80%;
  padding-left: 10%;
}

#impossible-maze-img {
  max-width: 80%;
  padding-left: 10%;
}

#phone-number-word-finder-img {
  max-width: 80%;
  padding-left: 10%;
}

#flappy-bird-img {
  max-width: 70%;
  padding-left: 15%;
}

#ode-solver-img {
  max-width: 70%;
  padding-left: 15%;
}

#rubber-band-car1-img{
  max-width: 70%;
  padding-left: 15%;
}

#rubber-band-car2-img{
  max-width: 70%;
  padding-left: 15%;
}

//makes space between both footer columns
div.footer-col {
  display: inline-block;
  width: 40%;
}

//puts some space between contact info
.contact-list a {
  padding-right: 5px ;
}

//allows logo to go in the center
.logo-wrapper{
  display: inline-block;
  max-width: 10%;
  padding: 0px;
  margin: 0px;
}

//sizes logo
.logo-wrapper img{
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
  margin: 0px;
}

//scales default wrapper padding
.wrapper {
  padding-left: 2%;
  padding-right: 2%;
}

//sizes and positions header logo
.logo-header img{
  padding-right:10px;
  max-height: 50px;
}

//pushes header logo to top left
.logo-header{
  float: left;
}

//replaces top grey border with white padding
.site-header {
  padding-top:5px;
  border-top: 0px;
}
// Adds tab to paragraphs
// .tab p{
//   text-indent: 45px;
// }
