---
layout: page
title: Engineering Projects
description: Mechanical engineering projects from Cal Poly
icon: /assets/img/engineering-icon.png
permalink: /engineering/
slug: engineering
categories: groups
order: 4
---

<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<div class="home">

  <p> My undergraduate degree in mechanical engineering at Cal Poly was very hands on. Here are some highlight of group projects I 
    have worked throughout my undergrad. During the 25-26 school year, I worked on my senior project, 
    which is the year long project that represents culmination of my development as a designer, an engineer, and as a problem solver.
  </p>

  {% assign sorted_engineering = site.engineering | sort: 'order' | reverse%}

  {% for project in sorted_engineering%}

  <a class="no-link-underline" href="{{project.url}}">
    <div class="trigger snippet item-shadow">
      <div class="snippet-title">
        <h2>{{project.title}}</h1>
        <h3>{{project.time}}</h3>
      </div>

      <p>{{project.description}}</p>

      <div class="snippet-tags-wrapper">
        {% for tag in project.tags %}
            <p class="snippet-tag">•{{tag}}</p>
        {% endfor %}
      </div>
    </div>
  </a>

  {% endfor %}

</div>
