---
layout: page
title: Music
description: My hobby music portfolio
icon: /assets/img/music-icon.png
permalink: /music/
slug: music
categories: groups
order: 5
---

<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<div class="home">

  <p>I compose and produce my own music as a hobby. I've collected collected many of my creations here, as well as on my <a href="https://youtube.com/@coolohm">Youtube Channel</a>.</p>
  <p>My musical endeavors began with piano lessons from 3rd grade through high school. One of the two recitals we had each year were our own compositions, so I've been 
    pushed to write music since I was young.
    However, it wasn't until the summer before college that I actually found the intrinsic motivation to continue making music. This is when I started exploring digital music using 
    FL Studio. I've also used MuseScore to create sheet music for my piano solo pieces.
  </p>

  {% assign sorted_music = site.music | sort: 'order' | reverse%}

  {% for project in sorted_music%}
    <div class="music-item">

      <div class="music-title">
        <h2>{{project.title}}</h2>
        <h3>{{project.finished}}</h3>
      </div>

      <div class="tags-wrapper">
        {% for tag in project.tags %}
            <p class="post-tag">•{{tag}}</p>
        {% endfor %}
        {% if project.internal-link && project.internal-link-text %}
        <p class="post-tag">
          •<a class="link-underline" href={{project.internal-link | relative_url}}>
            {{project.internal-link-text}}
          </a>
        </p>
        {% endif %}
        {% if project.link %}
        <p class="post-tag">
          
          •<a class="link-underline" href={{project.link}} target="_blank">
            {% assign linkText = "external-link" %}
            {% if project.link-text %}
              {% assign linkText = project.link-text %}
            {% endif %}
            {{linkText}}
          </a>
          
        </p>
        {% endif %}
      </div>
      
      {% if project.filename %}
        <audio controls src={{project.filename}} type="audio/mpeg">
        Embeded mp3 not supported by your browser
        </audio>
      {% endif %}

      <p>{{project.description}}</p>

      {% if project.video %}
      <div class="video-container">
      <iframe class="music-video" src="{{project.video}}?controls=0"
      allow="encrypted-media; picture-in-picture; web-share"
      allowfullscreen></iframe>
      </div>
      {% endif %}
    </div>
  {% endfor %}

</div>
