---
layout: default
title: Research
permalink: /research/
categories: groups
order: 3
---

<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <p>I hope this list will grow as I dive deeper into interesting research projects.</p>

  {% assign sorted_research = site.research | sort: 'order' | reverse%}

  {% for project in sorted_research%}

  <a href="{{project.permalink}}">
    <div class="trigger snippet">
      {% if forloop.first == false %}
      <hr class="line">
      {% endif %}
      <h1>{{project.title}}</h1>
      <p>{{project.description}}</p>
    </div>
  </a>

  {% endfor %}

</div>