---
layout: page
title: Research
description: Academic research projects, publications, and presentations
icon: /assets/img/research-icon.png
permalink: /research/
slug: research
categories: groups
order: 2
---

<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<div class="home">

  <p>
    As I begin graduate school at WashU, I can reflect on the  research experiences I have accumulated in a variety of research fields. They have given me a better understanding 
    on how I operate in a research setting, and what I value in a research group/project. As I further my passion for physics, computation, and research, I 
    hope this list grows to reflect my research interests and publications.
  </p>

  <h1>Research Projects</h1>

  {% assign sorted_research = site.research | sort: 'order' | reverse%}

  {% for project in sorted_research%}

  <a class="no-link-underline" href="{{project.url}}">
    <div class="trigger snippet item-shadow">
      <div class="snippet-title">
        <h2>{{project.title}}</h1>
        <h3>{{project.time}}</h3>
      </div>

      <p>{{project.description}}</p>

      <div class="snippet-tags-wrapper">
        {% for tag in project.tags %}
            <p class="snippet-tag">•{{tag}}</p>
        {% endfor %}
      </div>
    </div>
  </a>

  {% endfor %}

  <h1>Publications</h1>

  {% for paper in site.data.research.publications %}

  <a class="no-link-underline" href="{{paper.url}}" target="_blank">
    <div class="trigger snippet item-shadow small-research">
      <div class="snippet-title">
        <h2>{{paper.title}}</h1>
        <h3>{{paper.time}}</h3>
      </div>

      <p>{{paper.authors}}</p>

    </div>
  </a>

  {% endfor %}

  <h1>Presentations</h1>

  {% for presentation in site.data.research.presentations %}

    <div class="trigger snippet item-shadow no-link small-research">
      <div class="snippet-title">
        <h2>{{presentation.title}}</h2>
        <h3>{{presentation.time}}</h3>
      </div>

      <h3>{{presentation.authors}}</h3>
      <p>{{presentation.location}}</p>

      <div class="tags-wrapper">
        {% for tag in presentation.tags %}
            <p class="post-tag">•{{tag}}</p>
        {% endfor %}
        {% if presentation.internal-link && presentation.internal-link-text %}
        <p class="post-tag">
          •<a class="link-underline" href={{presentation.internal-link | relative_url}}>
            {{presentation.internal-link-text}}
          </a>
        </p>
        {% endif %}
        {% if presentation.link && presentation.link-text %}
        <p class="post-tag">
          •<a class="link-underline" href={{presentation.link}}>
            {{presentation.link-text}}
          </a>
        </p>
        {% endif %}
      </div>

    </div>

  {% endfor %}

</div>