---
layout: default
title: Work Experience
permalink: /work-experience/
categories: groups
order: 1
---

<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <p>Throughout my academic career, I have had the pleasure to get industry experience at multiple companies through various internship programs.</p>

  {% assign sorted_work_experience = site.work_experience | sort: 'order' | reverse%}

  {% for project in sorted_work_experience%}

  <a href="{{project.permalink}}">
    <div class="trigger snippet">
      {% if forloop.first == false %}
      <hr class="line">
      {% endif %}
      <h1>{{project.title}}</h1>
      <p>{{project.description}}</p>
    </div>
  </a>

  {% endfor %}

</div>