---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}




  {% if site.paginate %}
    {% assign pages = paginator.pages %}
  {% else %}
    {% assign pages = site.pages %}
  {% endif %}

<h1>{{pages.size}}</h1>

{%- for page in site.posts -%}
    <p>{{page.title}}</p>
{%- endfor -%}

  {{ content }}



  {%- if pages.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for page in pages -%}
      <li>
        <!--- <span class="post-meta">{{ post.date | date: date_format }}</span> --->
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ page.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ page.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
