---
layout: default
---

{{ content }}

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {% assign sorted_projects = site.projects | sort: 'order'%}

  {% for project in sorted_projects%}

  <a href="{{project.permalink}}">
    <div class="trigger snippet">
      {% if forloop.first == false %}
      <hr class="line">
      {% endif %}
      <h1>{{project.title}}</h1>
      <p>{{project.description}}</p>
    </div>
  </a>

  {% endfor %}

</div>
