---
layout: default
---

<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">



<div class="home">
  <!---- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} ---->

  {{ content }}

  <hr class="intro-line">

  <p></p>

  {% assign sorted_categories = site.groups | sort: 'order'%}

  <div class="grid">

    {% for category in sorted_categories %}

    <a class="no-link-underline" href="{{category.permalink}}">
      <div class="trigger grid-preview item-shadow">

        {% if category.icon %}
        <img class="grid-preview-icon" src="{{category.icon}}" alt="Brackets with slash between them">
        {% endif %}
        <div class="grid-preview-text">
          <h1>{{category.title}}</h1>
          <p>{{category.description}}</p>
        </div>
      </div>
    </a>

    {% endfor %}
  </div>

</div>
