---
layout: default
---

<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<article class="post">

  <header class="post-header">
    <div class="post-title">
      {% assign currentPage = page.slug | append: "/" %}
      {% unless page.url contains currentPage %}
        {% assign currentPage = page.slug %}
      {% endunless %}
      <a href="{{page.url | remove: currentPage | relative_url}}">
        <image class="back-button" src="/assets/img/back-icon.png" alt="Back button"></image>
      </a>
      <h1>{{ page.title | escape }}</h1>
        
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
