---
layout: default
---

<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <!-- Loop through the project's languages and display them in the header -->
    <h2 class="post-language">
      <!-- Display one language -->
      {% if page.languages.size == 1%}
        Language: {{page.languages[0]}}
      <!-- Display more than one language -->
      {% elsif page.languages.size > 1%}
        Languages:
        <!-- Add comma for all bu the last language -->
        {% for language in page.languages%}
          {{language}}
          {% if forloop.last == false %}
            {{", "}}
          {% endif %}
        {% endfor %}
      {% endif %}
    </h2>
    <a href="{{page.repo}}"><h3>GitHub Repository</h3></a>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
